[submodule "lotus-blockchain-gui"]
	path = lotus-blockchain-gui
	url = https://github.com/Lotus-Network/lotus-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Lotus-Network/mozilla-ca.git
